* {
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    margin: 0;
}

.container {
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #fff;
    margin: 54px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 800;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li a{
    color: #fff;
    text-transform: uppercase;
}

nav ul li:not(:last-child) {
    margin-right: 135px;
}

/*------------------------- HERO SECTION -------------------------*/

.hero {
    background-image: url('../img/hero_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    color: #fff;
}

.container_hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.container_hero .hero_photo img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_content img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hero_title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
    margin: 0 0 5px 0;
}

.hero_subtitle {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    display: block;
    margin-bottom: 34px;
}

.hero_content a:not(:last-child){
    margin-right: 33px
}

.hero_content .text {
    margin-right: 100px;
}

/*------------------------- SINGLES SECTION -------------------------*/

.singles {
    margin-top: 120px;
}

.betty_section {
    margin-bottom: 85px;
}

.betty_section,
.snova_section {
    display: flex;
    align-items: center;
}

.music_links{
    display: inline-flex;
    flex-direction: column;
    margin-right: 25px;
    width: 30px;
}

.music_links a:not(:last-child) {
    margin-bottom: 25px;
}

.betty_section img,
.snova_section img {
    width: 300px;
    margin-right: 55px;
}

.section_content .music_title {
    color: #40282A;
    font-weight: 800;
    font-size: 40px;
    margin: 0;
}

.section_content .music_artist {
    color: #40282A;
    font-weight: 300;
    font-size: 28px;
    line-height: 5px;
}

.audio_player {
    height: 100px;
}

.lyrics_button div{
    background-color: #40282A;
    padding: 13px 51px;
    border-radius: 5px;
}

.singles .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singles .heading {
    font-size: 110px;
    font-weight: 900;
    writing-mode: vertical-rl;
    color: transparent;
    margin: 0;
    -webkit-text-stroke: 2px #40282A;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*------------------------- TOUR SECTION -------------------------*/

.tour {
    margin-top: 120px;
    background-image: url('../img/tour_img.png');
    background-repeat: no-repeat;
    background-size: 50%;
    max-height: 650px;
}

.tour .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour_img .heading {
    color: #fff;
    font-size: 128px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.tour_places {
    width: 45%;
}

.tour_item {
    color: #40282A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour_item:not(:last-child) {
    margin-bottom: 10%;
}

.tour_item .date{
    display: inline-flex;
    align-items: center;
}

.tour_item .date .day{
    font-size: 48px;
    font-weight: 800;
}

.tour_item .date .wrap {
    display: inline-flex;
    flex-direction: column;
    margin-left: 3px;
}

.tour_item .date .wrap span {
    font-size: 17px;
    font-weight: 500;
}

.tour_item .city {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.tour_item a div {
    background-color: #40282A;
    padding: 13px 51px;
    border-radius: 5px;
    text-transform: uppercase;
}

/*------------------------- ABOUT SECTION -------------------------*/

.about {
    margin-top: 120px;
    background-image: url('../img/about_img.png');
    background-repeat: no-repeat;
    background-size: 50%;
    max-height: 500px;
    background-position: right;
}

.text_container {
    max-height: 500px;
}

.about .heading {
    font-size: 26px;
    font-weight: 800;
    color: #40282A;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.about .text_container p {
    width: 40%;
    font-size: 18px;
    line-height: 35px;
    padding-bottom: 15%;
    color: #40282A;
}

.about .photo_img {
    display: none;
}
/*------------------------- CONTACT ME SECTION -------------------------*/

.contacts {
    margin-top: 120px;
    background-image: url('../img/contactme_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contacts .heading {
    font-size: 96px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding-top: 60px;
}

.contacts .sub-heading {
    font-size: 64px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}

.contacts .email a{
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.contacts .email .email_text {
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}

.contacts .tel a{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.contacts .tel .tel_num {
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}

.contacts .socials {
    display: flex;
    margin-top: 10px;
    padding-bottom: 200px;
}

.contacts .socials a:not(:last-child) {
    margin-right: 30px;
}

/*------------------------- FOOTER -------------------------*/

.footer {
    background-image: url('../img/footer_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    margin-top: 120px;
    padding-top: 125px;
}

.footer .heading {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.footer .content {
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #CECECE;
    margin-top: 10px;
}

.footer .content ul li:not(:last-child),
.footer .content li:not(:last-child) {
    margin-bottom: 4px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_left {
    max-width: 420px;
}

.footer_right {
    display: flex;
}

.footer_right .socials {
    margin-top: 10px;
    display: flex;
}

.footer_right .socials img{
    width: 25px;
}

.footer_right .socials a:not(:last-child){
    margin-right: 30px
}

.footer_col:first-child {
    padding-right: 30px;
    border-right: 1px solid #9b9b9b8e;
    margin-right: 30px;
}

.footer_top {
    padding-bottom: 100px;
    border-bottom: 1px solid #9b9b9b8e;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    text-transform: uppercase;
    color: #9b9b9b8e;
    padding-bottom: 30px;
}



/*------------------------- ADAPTIVITY -------------------------*/

@media only screen and (max-width: 1200px) {
    .logo {
        font-size: 25px;
    }

    nav ul li a{
        font-size: 14px;
    }

    nav ul li:not(:last-child) {
        margin-right: 80px;
    }


    .hero_title {
        font-size: 25px;
    }
    
    .hero_subtitle {
        font-size: 16px;
        margin-bottom: 25px;
    }
    
    .hero_content a:not(:last-child){
        margin-right: 10px
    }

    .hero_content a img {
        width: 30px;
    }
    


    .betty_section img,
    .snova_section img {
        width: 200px;
        margin-right: 55px;
    }

    .section_content .music_title {
        font-size: 30px;
    }
    
    .section_content .music_artist {
        font-size: 20px;
        line-height: 5px;
    }

    .lyrics_button div{
        background-color: #40282A;
        padding: 10px 40px;
        border-radius: 5px;
    }

    .singles .heading {
        font-size: 90px;
    }


    .tour_img .heading {
        font-size: 80px;
    }

    .tour_item .date .day{
        font-size: 30px;
    }
    
    .tour_item .date .wrap span {
        font-size: 12px;
    }
    
    .tour_item .city {
        font-size: 18px;
    }
    
    .tour_item a div {
        padding: 10px 35px;
        border-radius: 5px;
        font-size: 12px;
    }


    .text_container {
        max-height: 500px;
    }

    .about .heading {
        font-size: 26px;
        font-weight: 800;
        color: #40282A;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    .about .text_container p {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 20px;
        color: #40282A;
        width: 45%;
    }


    .contacts {
        background-size: 100%;
    }

    .contacts .heading {
        font-size: 55px;
        padding-top: 30px;
    }
    
    .contacts .sub-heading {
        font-size: 35px;
    }
    
    .contacts .email a{
        margin-top: 40px;
    }
    
    .contacts .email .email_text {
        font-size: 16px;
    }
    
    .contacts .tel a{
        margin-top: 10px;
    }

    .tel img {
        width: 25px;
    }
    
    .contacts .tel .tel_num {
        font-size: 16px;
    }

    .email img {
        width: 25px;
    }
    
    .contacts .socials {
        padding-bottom: 100px;
    }

    .contacts .socials a img{
        width: 25px;
    }

}

@media only screen and (max-width: 910px) {
    .hero_title {
        font-size: 20px;
    }
    
    .hero_subtitle {
        font-size: 14px;
        margin-bottom: 25px;
    }
    
    .hero_content .text {
        margin-right: 30px;
    }

    .footer_top {
        margin: auto auto;
    }
    .footer .heading {
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .footer .content {
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        color: #CECECE;
        margin-top: 10px;
    }
    
    .footer .content ul li:not(:last-child),
    .footer .content li:not(:last-child) {
        margin-bottom: 4px;
    }
    
    .footer_left {
        max-width: 70%;
        margin-bottom: 50px;
    }
    
    .footer_right .socials img{
        width: 20px;
    }
    
    .footer_col:first-child {
        margin-right: 70px;
        padding-right: 70px;
    }
    
    .footer_top {
        padding-bottom: 100px;
        border-bottom: 1px solid #9b9b9b8e;
    }
    
    .footer_bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        text-transform: uppercase;
        color: #9b9b9b8e;
        padding-bottom: 30px;
    }

    .footer_bottom small {
        font-size: 10px;
    }
}

@media only screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
    .container_hero .hero_photo img {
        display: none;
    }
    .container_hero {
        display: block;
        padding: 0 50px 50px;
    }
    .hero_content {
        justify-content: space-around;
    }
    .hero_content img {
        width: 200px;
    }
    .singles .container {
        justify-content: center;
    }

    .betty_section,
    .snova_section {
        display: flex;
        flex-direction: column;
    }
    .betty_section img,
    .snova_section img {
        width: 250px;
        margin: 0;
    }

    .music_links{
        flex-direction: row;
        margin-right: 0;
        margin-bottom: 10px;
        width: 120px;
    }
    
    .music_links a:not(:last-child) {
        margin-bottom: 0px;
        margin-right: 20px;
    }
    .section_content {
        text-align: center;
    }
    
    .singles .heading {
        display: none;
    }

    .tour {
        background-image: none;
    }
    .tour .container {
        display: block;
    }
    .tour_img .heading {
        color: #40282A;
        font-size: 35px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
    }
    .tour_places {
        width: 80%;
        margin: 0 auto;
    }

    .about {
        margin-top: 120px;
        background-image: none;
    }
    .about .heading {
        font-size: 35px;
        font-weight: 900;
        color: #40282A;
    }
    .about .text_container p {
        width: 100%;
        font-size: 16px;
        line-height: 35px;
    }
    .about .photo_img {
        display: block;
    }

    .contacts {
        margin-top: 500px;
        background-image: none;
        background-color: #27191a;
    }
    .contacts .heading {
        font-size: 35px;
        font-weight: 900;
    }
    .contacts .sub-heading {
        font-size: 25px;
    }

    .footer_right {
        display: block;
    }
    .footer_top {
        justify-content: center;
        text-align: center;
    }
    .footer_col:first-child {
        margin: 0;
        padding: 0;
        margin-bottom: 50px;
        border: none;
        
    }
    .footer_right .socials {
        justify-content: center;
    }
}